#app {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: black 1px solid;
  border-radius: 10px;
  margin: 50px 100px;
}

.inventory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: tan;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.listItem__name,
.listItem__minusBtn,
.listItem__value,
.listItem__plusBtn {
  margin-right: 10px;
}

.listItem__minusBtn,
.listItem__plusBtn,
.listItem__addBtn,
.cart__deleteBtn {
  color: white;
  border: none;
  border-radius: 10px;
}

.listItem__minusBtn {
  background-color: rgb(201, 71, 71);
}
.listItem__plusBtn {
  background-color: rgb(69, 150, 69);
}
.listItem__addBtn,
.cart__deleteBtn {
  background-color: rgb(53, 96, 175);
}

ul {
  list-style: none;
}

.checkout-btn {
  display: flex;
  justify-content: end;
  background-color: black;
  color: white;
  padding: 5px 100px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
